<%@ page pageEncoding="UTF-8" %>
<table class="max_size" border="1px">
  <tr>
    <td align="center">
      <div id="auth" class="k-block k-shadow"> 
        <form action='/Authorization' method="POST">
          <div class="box_row left">Эл. почта или логин</div>
          <div class="box_row"><input id="login" class="auth" type='text' name='login' maxlength="20" /></div>
          <div class="box_row left">Пароль</div>
          <div class="box_row"><input id="password" class="auth" type='password' name='password' maxlength="20" /></div>
          <div id="repeat_passw">
            <div class="box_row left">Повторный ввод пароля</div>
            <div class="box_row"><input id="rpassword" class="auth" type='password' name='rpassword' maxlength="20" /></div>
          </div>
          <div class="box_row">
            <button class="k-button" type="submit" value="Войти">Войти</button>
          </div>
        </form>
        <style scoped>
          #auth{
            padding: 10px;
            width: 300px;
            text-align: center;
            vertical-align: middle;
          }
          #login, #password, #rpassword
          {
            width: 100%;
          }
          #repeat_passw
          {
            display: none;
          }
        </style>
      </div>
    </td>
  </tr>
</table>