root { 
  display: block;
}
html, body 
{
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 0.9em/*{fsDefault}*/;
  height: 100%;
}
div.left{
  float: left;
}
div.right{
  float: right;
}
.reset{
  margin: 0;
  padding: 0;
}

/* SIZES */
.max_size{
  width: 100%;
  height: 100%;
}
/* KENDO */
/*reset*/

html, body,h1,h2,h3,.main-nav,.kendo-nav,#banner p,.browsers,.mobileOSs,#footer ul,#footer p,#nav-pager,#examples-list,#themeChooser,.widgetGrid ul
{
    margin:0;
    padding:0;
    list-style:none;
}

body {
    background-color: #fff;
}

img
{
    border:0;
}

#header a,
li>a,
h2>a,
h3>a,
#footer a,
.get-kendoui
{
    text-decoration:none;
}

div.navinfo {
  padding-left: 10px;
  margin-top: 1px;
  line-height: 20px;
  text-align: center;
}