<template>
  <div class="home">
    <div class="text-xs-center"><h3>Обработка файлов ТФОМС</h3></div>
    <FileTable/>
  </div>
</template>

<script>
// @ is an alias to /src
import FileTable from '@/components/FileTable.vue'

export default {
  name: 'home',
  components: {
    FileTable
  }
}
</script>
