<template>
  <div class="home">
    <v-card>
      <v-toolbar color="lightgray" light>
        <v-toolbar-title>Обработка файла ТФОМС</v-toolbar-title>
      </v-toolbar>
      <v-list two-line>
        <template v-for="(item, index) in items">
          <v-subheader v-if="item.header" :key="item.header">
            {{ item.header }}
          </v-subheader>
          <v-divider v-else-if="item.divider" :inset="item.inset" :key="index">
          </v-divider>
          <v-list-title
            v-else
            :key="item.title"
            @click=""
          >
            <v-list-title-content>
              {{ item.title }}
            </v-list-title-content>
            <!--<v-progress-linear v-model="'progress_'+item.name"></v-progress-linear>-->
          </v-list-title>
        </template>
      </v-list>
    </v-card>
  </div>
</template>

<script>
  import VueSimpleSpinner from 'vue-simple-spinner'
  // <vue-simple-spinner message="Обработка..." v-if="this.$store.getters.LOADINGFILE == 1"></vue-simple-spinner>
  export default {
    name: 'process',
    components: {
      VueSimpleSpinner
    },
    data(){
      return{
        currentFile: null,
        items: []
      }
    },
    computed:{
      loadingFile: function(){
        return this.$store.getters.LOADINGFILE;
      }
    },
    watch:{
      loadingFile(new_val, old_val){
        console.log('watch is', old_val, new_val)
        switch (new_val){
          case 0: // операция начинает свое выполнение
            this.items.push({name:'loadfile', title: 'Загрузка файла... '})

            break
          case 100:
            this.items.push({title: 'успешно'})
            break
          case 101:
            this.items.push({title: 'ошибка'})
        }
      }
    },
    created() {
      console.log('created');
      this.currentFile = this.$store.getters.CURRENTFILE;
      console.log('currentFile:', this.currentFile);

      this.$store.dispatch('DO_PROCESS');

      console.log('loading ok');

    }
  }
</script>
