<template>
  <v-app>
    <v-data-table
      :headers="headers"
      :items="desserts"
      class="elevation-4"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-center">{{ props.item.fdate }}</td>
        <td class="text-xs-center">{{ props.item.status }}</td>
        <td class="text-xs-center justify-center layout px-0">
          <v-btn small color="primary" @click="processItem(props.item)">Обработать</v-btn>
          <v-btn small @click="deleteItem(props.Item)">Удалить</v-btn>
        </td>
      </template>
      <template slot="no-data">
        <v-alert
          :value="true"
          color="info"
          icon="info"
          outline
        >
          Нет файлов ТФОМС
        </v-alert>
      </template>
    </v-data-table>
  </v-app>
</template>

<script>
  import FileTable from '@/components/FileTable.vue'

  export default {
    data() {
      return {
        dialog: false,
        headers: [
          {
            text: 'Имя файла',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Дата файла',
            align: 'center',
            value: 'fdate'
          },
          {
            text: 'Статус',
            align: 'center',
            value: 'status'
          },
          {
            text: 'Действия',
            align: 'center',
            value: 'name',
            sortable: false
          }
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
          name: '',
          fdate: '',
          status: ''
        },
        defaultItem: {
          name: '',
          fdate: '',
          status: ''
        }
      }
    },
    created() {
      this.initialize()
    },
    methods: {
      initialize() {
        axios.get('../?action=get_files')
          .then(result => {
            console.log('success:', result);
            this.desserts = result.data;
          })
          .catch(error => console.log('Error:', error));
      },
      deleteItem(item) {
        const index = this.desserts.indexOf(item)
        confirm('Вы действительно хотите удалить этот файл?') &&
        this.desserts.splice(index, 1)
      },
      processItem(item) {
        console.log('ITEM:', item);
        this.$store.dispatch('SET_CURRENTFILE', item.name);
        this.$router.push('/process');
      }
    }
  }
</script>