<%@ page pageEncoding="UTF-8" %>
<div id="private-top-menu" class="k-block k-shadow">&nbsp;
  <div class="right">
    <div id="logout_button">
      <a href="/Logout" class="k-button">выход</a>      
    </div>
    <div id="user-info" class="k-block k-info-colored">
      Пользователь: <%= session.getAttribute("user")%>      
    </div>    
  </div>
  <style scoped>
    #private-top-menu
    {
      overflow: hidden;
    }
    #user-info
    {
      margin-top: 3px;
      padding-left: 5px;
      padding-right: 5px;
      float: right;
    }
    #logout_button
    {
      padding-left: 10px;
      padding-right: 5px;
      float: right;
    }
  </style>
</div>