{% extends "base_generic.html" %}

{% block title %}
<title>LocalLibrary | Home</title>
{% endblock %}

{% block content %}
<h1> Local Library Home </h1>
<p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial
example on the Mozilla Developer Network.</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_bookd }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Number of tech genres:</strong> {{ num_tech_genre }}</li>
</ul>
{% endblock %}